<h1>Payment History Report</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Tenant</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Method</th>
    </tr>
  </thead>
  <tbody>
    {{#each payments}}
      <tr>
        <td>{{id}}</td>
        <td>{{first_name}} {{last_name}}</td>
        <td>{{amount}}</td>
        <td>{{payment_date}}</td>
        <td>{{payment_method}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a href="/payments">Back to Payments</a>